In [594]:
import requests
import pandas as pd
from dotenv import load_dotenv  # for loading environment variables
import os

load_dotenv()
api_key = os.getenv("API_KEY")

In [595]:
url = f"http://www.omdbapi.com/?apikey=b5cb9a26&t=""Casino"
response = requests.get(url)

#headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer YOUR_TOKEN'}
#response = requests.get(url, headers=headers)

In [596]:
response

In [597]:
data = response.json()

In [598]:
data

{'Title': 'Casino',
 'Year': '1995',
 'Rated': 'R',
 'Released': '22 Nov 1995',
 'Runtime': '178 min',
 'Genre': 'Crime, Drama',
 'Director': 'Martin Scorsese',
 'Writer': 'Nicholas Pileggi, Martin Scorsese',
 'Actors': 'Robert De Niro, Sharon Stone, Joe Pesci',
 'Plot': 'In Las Vegas, two best friends - a casino executive and a mafia enforcer - compete for a gambling empire and a fast-living, fast-loving socialite.',
 'Language': 'English',
 'Country': 'United States, France',
 'Awards': 'Nominated for 1 Oscar. 4 wins & 11 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.2/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '73/100'}],
 'Metascore': '73',
 'imdbRating': '8.2',
 'imdbVotes': '571,844',
 'imdbID': 'tt0112641',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': '$42,512,375',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [599]:
df = pd.read_csv("imdb_movies.csv")

In [600]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [601]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [602]:
df["genre"].isna().sum()

85

In [603]:
# Display rows where the 'Title' column contains a null value
null_rows_title = df[df['genre'].isnull()]

# Display the rows with null values in 'Title' column
print(null_rows_title)

                                       names       date_x  score genre  \
305         Housewife Sex Slaves: Hatano Yui  01/09/2015     0.0   NaN
1174                 Beauty Rope Cosmetology  12/02/1983    10.0   NaN
1561                                 Reclaim  07/29/2022    20.0   NaN
1762              Ancient Chinese Whorehouse  09/15/1994    50.0   NaN
1776       Porno document: Toruko tokkyû bin  02/26/1982   100.0   NaN
...                                      ...          ...    ...   ...
9626                                Euphoria  11/29/2022     0.0   NaN
9733                                 Fanatic  04/06/2023     0.0   NaN
10011                        Perfumed Garden  06/03/2000    53.0   NaN
10025  The Girl and the Wooden Horse Torture  12/03/1982    50.0   NaN
10076      The Shoga (Glass and Gas) Company  09/07/1990    37.0   NaN

                                                overview  \
305    We don't have an overview translated in Englis...
1174   Miki is the daughter of an affluent family. Sh...
1561   She is a good woman living a fulfilling life. ...
1762   Madam Five and carpenter Kong work together ma...
1776                                    Pinku from 1982.
...                                                  ...
9626   Artist and filmmaker Julian Rosefeldt creates ...
9733   Charlie and Gerald reunite their failed 2000's...
10011  Imagine a world of pleasure, where passion is ...
10025  Nami is a masochistic high school student who ...
10076  "I have not been very active as a social filmm...

                                                    crew  \
305                                         Yui Hatano,
1174   Miki Takakura, Miki, Maya Ito, Rena, Ren Osugi...
1561                                                 NaN
1762   Kent Cheng, Kong, Yvonne Yung Hung, Miss Ng, S...
1776   Jun Miho, , Rumi Kagawa, , Miyuki Oka, , Kayok...
...                                                  ...
9626   Giancarlo Esposito, Taxi Driver, Virginia Newc...
9733   Matt Cook, , Caroline Rhea, , Shannon Dang, , ...
10011  Ivan Baccarat, Michael, Amy Lindsay, Lisa, Raj...
10025  Serina Nishikawa, Nami Tsuchiya, Waka Oda, , A...
10076                                                NaN

                      orig_title     status   orig_lang     budget_x  \
305                  人妻性奴隷 波多野結衣   Released    Japanese  167540000.0
1174                   団鬼六　美女縄化粧   Released    Japanese  201940000.0
1561                     Reclaim   Released     Chinese   12001040.0
1762                       青樓十二房   Released   Cantonese  163600000.0
1776            ポルノドキュメント　トルコ特急便   Released    Japanese  201000000.0
...                          ...        ...         ...          ...
9626                    Euphoria   Released     English  167540000.0
9733                     Fanatic   Released     English  167540000.0
10011            Perfumed Garden   Released     English  159000000.0
10025                 団鬼六　少女木馬責め   Released    Japanese  163600000.0
10076   Sherkat-e Shisheh va Gaz   Released     Persian   58670000.0

            revenue country
305    1.752700e+08      JP
1174   3.815731e+07      JP
1561   3.813901e+07      US
1762   8.126672e+08      HK
1776   1.569324e+09      JP
...             ...     ...
9626   1.752700e+08      US
9733   1.752700e+08      US
10011  2.792784e+08      ID
10025  8.126672e+08      JP
10076  3.859605e+08      IR

[85 rows x 12 columns]

In [604]:
df_copy = df[["names", "orig_lang", "budget_x", "revenue"]]
df_copy

,names,orig_lang,budget_x,revenue
0,Creed III,English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,English,100000000.0,7.244590e+08
3,Mummies,"Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,English,77000000.0,3.409420e+08
...,...,...,...,...
10173,20th Century Women,English,7000000.0,9.353729e+06
10174,Delta Force 2: The Colombian Connection,English,9145817.8,6.698361e+06
10175,The Russia House,English,21800000.0,2.299799e+07
10176,Darkman II: The Return of Durant,English,116000000.0,4.756613e+08
10177,The Swan Princess: A Royal Wedding,English,92400000.0,5.394018e+08

In [605]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   names      10178 non-null  object
 1   orig_lang  10178 non-null  object
 2   budget_x   10178 non-null  float64
 3   revenue    10178 non-null  float64
dtypes: float64(2), object(2)
memory usage: 318.2+ KB

In [606]:
# Convert the 'date_x' column to datetime format if it's not already in datetime
df_copy['date_x'] = pd.to_datetime(df['date_x'])

# Filter rows where the year is between 1995 and 2020 (inclusive)
df_copy = df_copy[(df_copy['date_x'].dt.year >= 1995) & (df_copy['date_x'].dt.year < 1997)]

# Display the filtered dataframe
print(df_copy.value_counts())

names                             orig_lang  budget_x     revenue      date_x
101 Dalmatians                    English    54000000.0   320689294.0  1996-12-05    1
Showgirls                         English    40000000.0   37750754.0   1995-10-12    1
Provocation                       Italian    86400000.0   570633320.6  1996-11-15    1
Pusher                            Danish     965000.0     191820413.2  1996-08-30    1
Ransom                            English    70000000.0   308700000.0  1996-11-14    1
                                                                                    ..
Free Willy 2: The Adventure Home  English    31000000.0   30000000.0   1995-07-19    1
Friday                            English    3500000.0    27936778.0   1995-10-04    1
From Dusk Till Dawn               English    20000000.0   25736162.0   1996-04-18    1
Get Shorty                        English    30250000.0   115021008.0  1996-01-26    1
Yu Pui Tsuen III                  Chinese    167400000.0  997517367.8  1996-08-10    1
Name: count, Length: 218, dtype: int64

C:\Users\olivi\AppData\Local\Temp\ipykernel_13292\1248335564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['date_x'] = pd.to_datetime(df['date_x'])

In [607]:
df_copy.rename(columns={'names': 'Title'}, inplace=True)
df_copy.head(50)

C:\Users\olivi\AppData\Local\Temp\ipykernel_13292\3104682021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.rename(columns={'names': 'Title'}, inplace=True)

,Title,orig_lang,budget_x,revenue,date_x
303,Toy Story,English,30000000.0,365270951.0,1995-12-07
307,Joseph,English,143260000.0,865531384.0,1995-04-16
565,Dragon Ball Z: Wrath of the Dragon,Japanese,30314000.0,24000000.0,1995-07-15
671,The Shawshank Redemption,English,25000000.0,28419159.0,1995-02-16
693,Sex and Zen II,Cantonese,60600000.0,697062094.4,1996-05-09
1189,Casper,English,55000000.0,282300000.0,1995-07-03
1201,Matilda,English,25000000.0,9755282.0,1996-12-18
1341,Don't Be a Menace to South Central While Drink...,English,3800000.0,20109115.0,1996-01-12
1342,Heat,English,60000000.0,187436818.0,1996-02-09
1391,Mission: Impossible,English,80000000.0,457697994.0,1996-06-26
1394,Se7en,English,30000000.0,328125643.0,1995-11-02
1505,Pocahontas,English,55000000.0,347100000.0,1995-08-24
1540,Friday,English,3500000.0,27936778.0,1995-10-04
1566,Independence Day,English,75000000.0,817400878.0,1996-08-29
1669,Moses,English,56600000.0,583921229.0,1995-12-20
1754,Léon: The Professional,English,16000000.0,45284974.0,1995-04-27
1787,Bad Boys,English,23000000.0,141247413.0,1995-04-27
1893,The Hunchback of Notre Dame,English,100000000.0,325500000.0,1996-09-12
1987,Braveheart,English,72000000.0,209045244.0,1995-06-01
2007,101 Dalmatians,English,54000000.0,320689294.0,1996-12-05
2040,The English Patient,English,35000000.0,231710008.0,1996-11-14
2138,All Things Fair,Swedish,78000000.0,251777647.4,1995-11-03
2163,Die Hard: With a Vengeance,English,90000000.0,366101666.0,1995-05-25
2203,Dragon Ball: The Path to Power,Japanese,171200000.0,795903109.2,1996-03-04
2219,Dumb and Dumber,English,16000000.0,247275374.0,1995-03-16
2260,Clueless,English,13700000.0,57956568.0,1995-09-21
2320,Castle in the Sky,Japanese,3000000.0,5228752.0,1996-08-01
2371,Twelve Monkeys,English,29000000.0,168841459.0,1996-03-14
2501,P.O. Box Tinto Brass,Italian,76000000.0,152911218.6,1995-08-30
2532,Aladdin and the King of Thieves,English,94944000.0,340525142.6,1996-07-31
2535,The Rock,English,75000000.0,336069511.0,1996-06-21
2570,Ghost in the Shell,Japanese,110000000.0,167910690.0,1995-09-23
2571,Chungking Express,Cantonese,160000.0,59502343.4,1995-12-26
2609,Splatter: Naked Blood,Japanese,105800000.0,216113745.0,1996-02-20
2697,Species,English,35000000.0,113354449.0,1995-08-03
2710,Leprechaun 3,English,166940000.0,321181281.8,1995-07-05
2769,Rumble in the Bronx,Cantonese,7500000.0,36238752.0,1996-05-16
2783,Space Jam,English,80000000.0,250180384.0,1996-12-12
2832,Yu Pui Tsuen III,Chinese,167400000.0,997517367.8,1996-08-10
2877,A Time to Kill,English,40000000.0,152266007.0,1996-08-15
2957,Casino,English,52000000.0,110400000.0,1996-03-07
2962,Powder,English,9500000.0,30862156.0,1996-02-08
3027,Jokyoshi Nikki 2 Abakareta Sei,Japanese,167540000.0,175269998.8,1996-06-13
3053,Batman Forever,English,100000000.0,336529144.0,1995-06-29
3113,Bordello of Blood,English,15000000.0,5600000.0,1996-08-16
3124,Mortal Kombat,English,55000000.0,83508259.0,1995-12-26
3125,Mortal Kombat,English,20000000.0,122133227.0,1995-12-26
3130,Mighty Morphin Power Rangers: The Movie,English,15000000.0,66400000.0,1995-06-30
3180,Primal Fear,English,30000000.0,102616183.0,1996-03-06
3213,GoldenEye,English,58000000.0,352194034.0,1995-11-23

In [608]:
#df_copy["revenue"] = (df_copy["revenue"]/1000000).round(2)
#df_copy["revenue"]

In [609]:
df_copy["Title"].value_counts()

Title
Mortal Kombat                                    2
Toy Story                                        1
Homeward Bound II: Lost in San Francisco         1
Karan Arjun                                      1
Shiloh                                           1
                                                ..
Doraemon: Nobita and the Galaxy Super-express    1
Samson and Delilah                               1
Billy Madison                                    1
It Takes Two                                     1
Darkman II: The Return of Durant                 1
Name: count, Length: 217, dtype: int64

In [610]:
movies = df_copy["Title"]
api_data = []
for movie in movies:
    url = f"http://www.omdbapi.com/?apikey={api_key}&t={movie}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        print(data)
        #if "Type" in data and data["Type"] == "movie":
        if "Title" in data:
            api_data.append({"Title": data["Title"], "Year": data["Year"], "Rated": data["Rated"],"Genre": data["Genre"],  "Runtime": data["Runtime"], "Director": data["Director"], "Actors": data["Actors"], "Plot": data["Plot"], "Country": data["Country"], "Awards": data["Awards"], "Metascore": data["Metascore"], "imdbRating": data["imdbRating"], "imdbVotes": data["imdbVotes"], "imdbID": data["imdbID"]})
        else:
            api_data.append({"Title": None})

{'Title': 'Toy Story', 'Year': '1995', 'Rated': 'G', 'Released': '22 Nov 1995', 'Runtime': '81 min', 'Genre': 'Animation, Adventure, Comedy', 'Director': 'John Lasseter', 'Writer': 'John Lasseter, Pete Docter, Andrew Stanton', 'Actors': 'Tom Hanks, Tim Allen, Don Rickles', 'Plot': "A cowboy doll is profoundly threatened and jealous when a new spaceman action figure supplants him as top toy in a boy's bedroom.", 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 3 Oscars. 29 wins & 24 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '100%'}, {'Source': 'Metacritic', 'Value': '96/100'}], 'Metascore': '96', 'imdbRating': '8.3', 'imdbVotes': '1,084,764', 'imdbID': 'tt0114709', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': '$223,225,679', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Joseph', 'Year': '2018', 'Rated': 'Not Rated', 'Released': '06 Dec 2018', 'Runtime': '138 min', 'Genre': 'Crime, Drama, Thriller', 'Director': 'M. Padmakumar', 'Writer': 'Shahi Kabir', 'Actors': 'Joju George, Athmeeya Rajan, Dileesh Pothan', 'Plot': 'The story develops through the life of four retired policemen. It has the tone of a thriller investigation. An issue affecting the life of Joseph, the central character, and his family is being investigated.', 'Language': 'Malayalam', 'Country': 'India', 'Awards': '10 wins & 3 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BODVmYzNmYzYtNTljZC00ODg3LWEzOTQtZjA5NmVhMTczOGE1XkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.0/10'}], 'Metascore': 'N/A', 'imdbRating': '8.0', 'imdbVotes': '6,477', 'imdbID': 'tt8561086', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

{'Title': 'Dragon Ball Z: Wrath of the Dragon', 'Year': '1995', 'Rated': 'TV-PG', 'Released': '22 Aug 2006', 'Runtime': '52 min', 'Genre': 'Animation, Action, Sci-Fi', 'Director': 'Mitsuo Hashimoto', 'Writer': 'Akira Toriyama, Takao Koyama', 'Actors': 'Masako Nozawa, Takeshi Kusao, Mayumi Tanaka', 'Plot': 'The Z-fighters find themselves in the middle of another extraterrestrial conflict, which includes a sword-wielding warrior named Tapion, a wizard and an enormous monster named Hirudegarn.', 'Language': 'Japanese', 'Country': 'Japan', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTg1NDdlMDMtOTRmNy00MjNjLTkxZDYtMDA3ODE1MmViMWFkXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.4/10'}], 'Metascore': 'N/A', 'imdbRating': '7.4', 'imdbVotes': '9,842', 'imdbID': 'tt0142243', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Shawshank Redemption', 'Year': '1994', 'Rated': 'R', 'Released': '14 Oct 1994', 'Runtime': '142 min', 'Genre': 'Drama', 'Director': 'Frank Darabont', 'Writer': 'Stephen King, Frank Darabont', 'Actors': 'Tim Robbins, Morgan Freeman, Bob Gunton', 'Plot': 'A Maine banker convicted of the murder of his wife and her lover in 1947 gradually forms a friendship over a quarter century with a hardened convict, while maintaining his innocence and trying to remain hopeful through simple comp...', 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 7 Oscars. 21 wins & 42 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDE3ODcxYzMtY2YzZC00NmNlLWJiNDMtZDViZWM2MzIxZDYwXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '89%'}, {'Source': 'Metacritic', 'Value': '82/100'}], 'Metascore': '82', 'imdbRating': '9.3', 'imdbVotes': '2,932,194', 'imdbID': 'tt0111161', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': '$28,767,189', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Sex and Zen II', 'Year': '1996', 'Rated': 'N/A', 'Released': '09 May 1996', 'Runtime': '87 min', 'Genre': 'Comedy, Fantasy, Horror', 'Director': 'Man-Kei Chin', 'Writer': 'Kin Sai-men', 'Actors': 'Loletta Lee, Shu Qi, Elvis Tsui', 'Plot': 'In order to let his daughter Ximen Rou (Loretta Lee) to avoid the rapist, rich Ximen Jian (Elvis Tsui) command to go to school dressed it for the man. Meet scholar Huadao after Ximen became friends with Rou, but when her daughter ...', 'Language': 'Cantonese', 'Country': 'Hong Kong', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTI5NjIzODQzMF5BMl5BanBnXkFtZTcwODUzMTEyMQ@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.5/10'}], 'Metascore': 'N/A', 'imdbRating': '5.5', 'imdbVotes': '748', 'imdbID': 'tt0117605', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Mortal Kombat', 'Year': '2021', 'Rated': 'R', 'Released': '23 Apr 2021', 'Runtime': '110 min', 'Genre': 'Action, Adventure, Fantasy', 'Director': 'Simon McQuoid', 'Writer': 'Greg Russo, Dave Callaham, Oren Uziel', 'Actors': 'Lewis Tan, Jessica McNamee, Josh Lawson', 'Plot': "MMA fighter Cole Young seeks out Earth's greatest champions in order to stand against the enemies of Outworld in a high stakes battle for the universe.", 'Language': 'English, Japanese, Chinese', 'Country': 'United States', 'Awards': '4 wins & 9 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BY2ZlNWIxODMtN2YwZi00ZjNmLWIyN2UtZTFkYmZkNDQyNTAyXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.0/10'}, {'Source': 'Rotten Tomatoes', 'Value': '55%'}, {'Source': 'Metacritic', 'Value': '44/100'}], 'Metascore': '44', 'imdbRating': '6.0', 'imdbVotes': '192,758', 'imdbID': 'tt0293429', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': '$42,326,031', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Mortal Kombat', 'Year': '2021', 'Rated': 'R', 'Released': '23 Apr 2021', 'Runtime': '110 min', 'Genre': 'Action, Adventure, Fantasy', 'Director': 'Simon McQuoid', 'Writer': 'Greg Russo, Dave Callaham, Oren Uziel', 'Actors': 'Lewis Tan, Jessica McNamee, Josh Lawson', 'Plot': "MMA fighter Cole Young seeks out Earth's greatest champions in order to stand against the enemies of Outworld in a high stakes battle for the universe.", 'Language': 'English, Japanese, Chinese', 'Country': 'United States', 'Awards': '4 wins & 9 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BY2ZlNWIxODMtN2YwZi00ZjNmLWIyN2UtZTFkYmZkNDQyNTAyXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.0/10'}, {'Source': 'Rotten Tomatoes', 'Value': '55%'}, {'Source': 'Metacritic', 'Value': '44/100'}], 'Metascore': '44', 'imdbRating': '6.0', 'imdbVotes': '192,758', 'imdbID': 'tt0293429', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': '$42,326,031', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Samson and Delilah', 'Year': '1949', 'Rated': 'Approved', 'Released': '21 Sep 1950', 'Runtime': '134 min', 'Genre': 'Drama, Family, History', 'Director': 'Cecil B. DeMille', 'Writer': 'Jesse Lasky Jr., Fredric M. Frank, Harold Lamb', 'Actors': 'Hedy Lamarr, Victor Mature, George Sanders', 'Plot': 'When strongman Samson rejects the love of the beautiful Philistine woman Delilah, she seeks vengeance that brings horrible consequences they both regret.', 'Language': 'English', 'Country': 'United States', 'Awards': 'Won 2 Oscars. 7 wins & 5 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNmE1NTg5OWQtYzcwNi00ZDFkLWJmZjgtNDM3ZjZiODAxYmE2XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '56%'}], 'Metascore': 'N/A', 'imdbRating': '6.8', 'imdbVotes': '9,133', 'imdbID': 'tt0041838', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

In [611]:
api_data

[{'Title': 'Toy Story',
  'Year': '1995',
  'Rated': 'G',
  'Genre': 'Animation, Adventure, Comedy',
  'Runtime': '81 min',
  'Director': 'John Lasseter',
  'Actors': 'Tom Hanks, Tim Allen, Don Rickles',
  'Plot': "A cowboy doll is profoundly threatened and jealous when a new spaceman action figure supplants him as top toy in a boy's bedroom.",
  'Country': 'United States',
  'Awards': 'Nominated for 3 Oscars. 29 wins & 24 nominations total',
  'Metascore': '96',
  'imdbRating': '8.3',
  'imdbVotes': '1,084,764',
  'imdbID': 'tt0114709'},
 {'Title': 'Joseph',
  'Year': '2018',
  'Rated': 'Not Rated',
  'Genre': 'Crime, Drama, Thriller',
  'Runtime': '138 min',
  'Director': 'M. Padmakumar',
  'Actors': 'Joju George, Athmeeya Rajan, Dileesh Pothan',
  'Plot': 'The story develops through the life of four retired policemen. It has the tone of a thriller investigation. An issue affecting the life of Joseph, the central character, and his family is being investigated.',
  'Country': 'India',
  'Awards': '10 wins & 3 nominations',
  'Metascore': 'N/A',
  'imdbRating': '8.0',
  'imdbVotes': '6,477',
  'imdbID': 'tt8561086'},
 {'Title': 'Dragon Ball Z: Wrath of the Dragon',
  'Year': '1995',
  'Rated': 'TV-PG',
  'Genre': 'Animation, Action, Sci-Fi',
  'Runtime': '52 min',
  'Director': 'Mitsuo Hashimoto',
  'Actors': 'Masako Nozawa, Takeshi Kusao, Mayumi Tanaka',
  'Plot': 'The Z-fighters find themselves in the middle of another extraterrestrial conflict, which includes a sword-wielding warrior named Tapion, a wizard and an enormous monster named Hirudegarn.',
  'Country': 'Japan',
  'Awards': 'N/A',
  'Metascore': 'N/A',
  'imdbRating': '7.4',
  'imdbVotes': '9,842',
  'imdbID': 'tt0142243'},
 {'Title': 'The Shawshank Redemption',
  'Year': '1994',
  'Rated': 'R',
  'Genre': 'Drama',
  'Runtime': '142 min',
  'Director': 'Frank Darabont',
  'Actors': 'Tim Robbins, Morgan Freeman, Bob Gunton',
  'Plot': 'A Maine banker convicted of the murder of his wife and her lover in 1947 gradually forms a friendship over a quarter century with a hardened convict, while maintaining his innocence and trying to remain hopeful through simple comp...',
  'Country': 'United States',
  'Awards': 'Nominated for 7 Oscars. 21 wins & 42 nominations total',
  'Metascore': '82',
  'imdbRating': '9.3',
  'imdbVotes': '2,932,194',
  'imdbID': 'tt0111161'},
 {'Title': 'Sex and Zen II',
  'Year': '1996',
  'Rated': 'N/A',
  'Genre': 'Comedy, Fantasy, Horror',
  'Runtime': '87 min',
  'Director': 'Man-Kei Chin',
  'Actors': 'Loletta Lee, Shu Qi, Elvis Tsui',
  'Plot': 'In order to let his daughter Ximen Rou (Loretta Lee) to avoid the rapist, rich Ximen Jian (Elvis Tsui) command to go to school dressed it for the man. Meet scholar Huadao after Ximen became friends with Rou, but when her daughter ...',
  'Country': 'Hong Kong',
  'Awards': 'N/A',
  'Metascore': 'N/A',
  'imdbRating': '5.5',
  'imdbVotes': '748',
  'imdbID': 'tt0117605'},
 {'Title': 'Mortal Kombat',
  'Year': '2021',
  'Rated': 'R',
  'Genre': 'Action, Adventure, Fantasy',
  'Runtime': '110 min',
  'Director': 'Simon McQuoid',
  'Actors': 'Lewis Tan, Jessica McNamee, Josh Lawson',
  'Plot': "MMA fighter Cole Young seeks out Earth's greatest champions in order to stand against the enemies of Outworld in a high stakes battle for the universe.",
  'Country': 'United States',
  'Awards': '4 wins & 9 nominations',
  'Metascore': '44',
  'imdbRating': '6.0',
  'imdbVotes': '192,758',
  'imdbID': 'tt0293429'},
 {'Title': 'Mortal Kombat',
  'Year': '2021',
  'Rated': 'R',
  'Genre': 'Action, Adventure, Fantasy',
  'Runtime': '110 min',
  'Director': 'Simon McQuoid',
  'Actors': 'Lewis Tan, Jessica McNamee, Josh Lawson',
  'Plot': "MMA fighter Cole Young seeks out Earth's greatest champions in order to stand against the enemies of Outworld in a high stakes battle for the universe.",
  'Country': 'United States',
  'Awards': '4 wins & 9 nominations',
  'Metascore': '44',
  'imdbRating': '6.0',
  'imdbVotes': '192,758',
  'imdbID': 'tt0293429'},
 {'Title': 'Samson and Delilah',
  'Year': '1949',
  'Rated': 'Approved',
  'Genre': 'Drama, Family, History',
  'Runtime': '134 min',
  'Director': 'Cecil B. DeMille',
  'Actors': 'Hedy Lamarr, Victor Mature, George Sanders',
  'Plot': 'When strongman Samson rejects the love of the beautiful Philistine woman Delilah, she seeks vengeance that brings horrible consequences they both regret.',
  'Country': 'United States',
  'Awards': 'Won 2 Oscars. 7 wins & 5 nominations total',
  'Metascore': 'N/A',
  'imdbRating': '6.8',
  'imdbVotes': '9,133',
  'imdbID': 'tt0041838'}]

In [612]:
len(api_data)

8

In [613]:
df_api = pd.DataFrame(api_data, columns=["Title", "Year", "Rated", "Runtime", "Genre", "Director", "Actors", "Plot", "Country", "Awards", "Metascore", "imdbRating", "imdbVotes", "imdbID"])
df_api

,Title,Year,Rated,Runtime,Genre,Director,Actors,Plot,Country,Awards,Metascore,imdbRating,imdbVotes,imdbID
0,Toy Story,1995,G,81 min,"Animation, Adventure, Comedy",John Lasseter,"Tom Hanks, Tim Allen, Don Rickles",A cowboy doll is profoundly threatened and jea...,United States,Nominated for 3 Oscars. 29 wins & 24 nominatio...,96,8.3,"1,084,764",tt0114709
1,Joseph,2018,Not Rated,138 min,"Crime, Drama, Thriller",M. Padmakumar,"Joju George, Athmeeya Rajan, Dileesh Pothan",The story develops through the life of four re...,India,10 wins & 3 nominations,N/A,8.0,"6,477",tt8561086
2,Dragon Ball Z: Wrath of the Dragon,1995,TV-PG,52 min,"Animation, Action, Sci-Fi",Mitsuo Hashimoto,"Masako Nozawa, Takeshi Kusao, Mayumi Tanaka",The Z-fighters find themselves in the middle o...,Japan,N/A,N/A,7.4,"9,842",tt0142243
3,The Shawshank Redemption,1994,R,142 min,Drama,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",A Maine banker convicted of the murder of his ...,United States,Nominated for 7 Oscars. 21 wins & 42 nominatio...,82,9.3,"2,932,194",tt0111161
4,Sex and Zen II,1996,N/A,87 min,"Comedy, Fantasy, Horror",Man-Kei Chin,"Loletta Lee, Shu Qi, Elvis Tsui",In order to let his daughter Ximen Rou (Lorett...,Hong Kong,N/A,N/A,5.5,748,tt0117605
5,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429
6,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429
7,Samson and Delilah,1949,Approved,134 min,"Drama, Family, History",Cecil B. DeMille,"Hedy Lamarr, Victor Mature, George Sanders",When strongman Samson rejects the love of the ...,United States,Won 2 Oscars. 7 wins & 5 nominations total,N/A,6.8,"9,133",tt0041838

In [614]:
# Merge the dataframes on the 'Title' column
df_merged = pd.merge(df_api, df_copy, on='Title', how='inner')

# Display the merged dataframe
print(df_merged.head())

                                Title  Year      Rated  Runtime  \
0                           Toy Story  1995          G   81 min
1                              Joseph  2018  Not Rated  138 min
2  Dragon Ball Z: Wrath of the Dragon  1995      TV-PG   52 min
3            The Shawshank Redemption  1994          R  142 min
4                      Sex and Zen II  1996        N/A   87 min

                          Genre          Director  \
0  Animation, Adventure, Comedy     John Lasseter
1        Crime, Drama, Thriller     M. Padmakumar
2     Animation, Action, Sci-Fi  Mitsuo Hashimoto
3                         Drama    Frank Darabont
4       Comedy, Fantasy, Horror      Man-Kei Chin

                                        Actors  \
0            Tom Hanks, Tim Allen, Don Rickles
1  Joju George, Athmeeya Rajan, Dileesh Pothan
2  Masako Nozawa, Takeshi Kusao, Mayumi Tanaka
3      Tim Robbins, Morgan Freeman, Bob Gunton
4              Loletta Lee, Shu Qi, Elvis Tsui

                                                Plot        Country  \
0  A cowboy doll is profoundly threatened and jea...  United States
1  The story develops through the life of four re...          India
2  The Z-fighters find themselves in the middle o...          Japan
3  A Maine banker convicted of the murder of his ...  United States
4  In order to let his daughter Ximen Rou (Lorett...      Hong Kong

                                              Awards Metascore imdbRating  \
0  Nominated for 3 Oscars. 29 wins & 24 nominatio...        96        8.3
1                            10 wins & 3 nominations       N/A        8.0
2                                                N/A       N/A        7.4
3  Nominated for 7 Oscars. 21 wins & 42 nominatio...        82        9.3
4                                                N/A       N/A        5.5

   imdbVotes     imdbID   orig_lang     budget_x      revenue     date_x
0  1,084,764  tt0114709     English   30000000.0  365270951.0 1995-12-07
1      6,477  tt8561086     English  143260000.0  865531384.0 1995-04-16
2      9,842  tt0142243    Japanese   30314000.0   24000000.0 1995-07-15
3  2,932,194  tt0111161     English   25000000.0   28419159.0 1995-02-16
4        748  tt0117605   Cantonese   60600000.0  697062094.4 1996-05-09

In [615]:
# Display rows where the 'Title' column contains a null value
#null_rows_title2 = df_merged[df_merged['Genre'].isnull()]

# Display the rows with null values in 'Title' column
#print(null_rows_title2)

In [616]:
df_api.columns

Index(['Title', 'Year', 'Rated', 'Runtime', 'Genre', 'Director', 'Actors',
       'Plot', 'Country', 'Awards', 'Metascore', 'imdbRating', 'imdbVotes',
       'imdbID'],
      dtype='object')

In [617]:
df_copy.columns

Index(['Title', 'orig_lang', 'budget_x', 'revenue', 'date_x'], dtype='object')

In [618]:
display(df_merged)

,Title,Year,Rated,Runtime,Genre,Director,Actors,Plot,Country,Awards,Metascore,imdbRating,imdbVotes,imdbID,orig_lang,budget_x,revenue,date_x
0,Toy Story,1995,G,81 min,"Animation, Adventure, Comedy",John Lasseter,"Tom Hanks, Tim Allen, Don Rickles",A cowboy doll is profoundly threatened and jea...,United States,Nominated for 3 Oscars. 29 wins & 24 nominatio...,96,8.3,"1,084,764",tt0114709,English,30000000.0,365270951.0,1995-12-07
1,Joseph,2018,Not Rated,138 min,"Crime, Drama, Thriller",M. Padmakumar,"Joju George, Athmeeya Rajan, Dileesh Pothan",The story develops through the life of four re...,India,10 wins & 3 nominations,N/A,8.0,"6,477",tt8561086,English,143260000.0,865531384.0,1995-04-16
2,Dragon Ball Z: Wrath of the Dragon,1995,TV-PG,52 min,"Animation, Action, Sci-Fi",Mitsuo Hashimoto,"Masako Nozawa, Takeshi Kusao, Mayumi Tanaka",The Z-fighters find themselves in the middle o...,Japan,N/A,N/A,7.4,"9,842",tt0142243,Japanese,30314000.0,24000000.0,1995-07-15
3,The Shawshank Redemption,1994,R,142 min,Drama,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",A Maine banker convicted of the murder of his ...,United States,Nominated for 7 Oscars. 21 wins & 42 nominatio...,82,9.3,"2,932,194",tt0111161,English,25000000.0,28419159.0,1995-02-16
4,Sex and Zen II,1996,N/A,87 min,"Comedy, Fantasy, Horror",Man-Kei Chin,"Loletta Lee, Shu Qi, Elvis Tsui",In order to let his daughter Ximen Rou (Lorett...,Hong Kong,N/A,N/A,5.5,748,tt0117605,Cantonese,60600000.0,697062094.4,1996-05-09
5,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,55000000.0,83508259.0,1995-12-26
6,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,20000000.0,122133227.0,1995-12-26
7,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,55000000.0,83508259.0,1995-12-26
8,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,20000000.0,122133227.0,1995-12-26
9,Samson and Delilah,1949,Approved,134 min,"Drama, Family, History",Cecil B. DeMille,"Hedy Lamarr, Victor Mature, George Sanders",When strongman Samson rejects the love of the ...,United States,Won 2 Oscars. 7 wins & 5 nominations total,N/A,6.8,"9,133",tt0041838,English,110000000.0,380285773.6,1996-12-08

In [619]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       10 non-null     object
 1   Year        10 non-null     object
 2   Rated       10 non-null     object
 3   Runtime     10 non-null     object
 4   Genre       10 non-null     object
 5   Director    10 non-null     object
 6   Actors      10 non-null     object
 7   Plot        10 non-null     object
 8   Country     10 non-null     object
 9   Awards      10 non-null     object
 10  Metascore   10 non-null     object
 11  imdbRating  10 non-null     object
 12  imdbVotes   10 non-null     object
 13  imdbID      10 non-null     object
 14  orig_lang   10 non-null     object
 15  budget_x    10 non-null     float64
 16  revenue     10 non-null     float64
 17  date_x      10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 1.5+ KB

In [620]:
# Find and display duplicate rows based on the 'Title' column
duplicate_rows_merged = df_merged[df_merged.duplicated(subset='imdbID')]

# Display the duplicate rows
print(duplicate_rows_merged)

           Title  Year Rated  Runtime                       Genre  \
6  Mortal Kombat  2021     R  110 min  Action, Adventure, Fantasy
7  Mortal Kombat  2021     R  110 min  Action, Adventure, Fantasy
8  Mortal Kombat  2021     R  110 min  Action, Adventure, Fantasy

        Director                                   Actors  \
6  Simon McQuoid  Lewis Tan, Jessica McNamee, Josh Lawson
7  Simon McQuoid  Lewis Tan, Jessica McNamee, Josh Lawson
8  Simon McQuoid  Lewis Tan, Jessica McNamee, Josh Lawson

                                                Plot        Country  \
6  MMA fighter Cole Young seeks out Earth's great...  United States
7  MMA fighter Cole Young seeks out Earth's great...  United States
8  MMA fighter Cole Young seeks out Earth's great...  United States

                   Awards Metascore imdbRating imdbVotes     imdbID orig_lang  \
6  4 wins & 9 nominations        44        6.0   192,758  tt0293429   English
7  4 wins & 9 nominations        44        6.0   192,758  tt0293429   English
8  4 wins & 9 nominations        44        6.0   192,758  tt0293429   English

     budget_x      revenue     date_x
6  20000000.0  122133227.0 1995-12-26
7  55000000.0   83508259.0 1995-12-26
8  20000000.0  122133227.0 1995-12-26

In [621]:
len(duplicate_rows_merged)

3

In [622]:
duplicate_rows_merged.head()

,Title,Year,Rated,Runtime,Genre,Director,Actors,Plot,Country,Awards,Metascore,imdbRating,imdbVotes,imdbID,orig_lang,budget_x,revenue,date_x
6,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,20000000.0,122133227.0,1995-12-26
7,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,55000000.0,83508259.0,1995-12-26
8,Mortal Kombat,2021,R,110 min,"Action, Adventure, Fantasy",Simon McQuoid,"Lewis Tan, Jessica McNamee, Josh Lawson",MMA fighter Cole Young seeks out Earth's great...,United States,4 wins & 9 nominations,44,6.0,"192,758",tt0293429,English,20000000.0,122133227.0,1995-12-26

In [623]:
#df_merged.drop_duplicates()
#df_merged

In [624]:
#df_merged.to_excel('test.xlsx', index=False, sheet_name='Sheet1')